Package: com.withertech.newtermtm
Name: NewTerm Theme Manager
Author: WitherTech <witherking@withertech.com>
Description: custom NewTerm color schemes with ansi color codes
Depends: mobilesubstrate, ws.hbang.common (>= 1.14)
Maintainer: WitherTech <witherking@withertech.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.3
