<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.withertech.newtermtmprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>10</string>
			<key>defaults</key>
			<string>com.withertech.newtermtmprefs</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>foregroundCode</string>
			<key>label</key>
			<string>Foreground Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.withertech.newtermtmprefs</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>backgroundCode</string>
			<key>label</key>
			<string>Background Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.withertech.newtermtmprefs</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>foregroundCursorCode</string>
			<key>label</key>
			<string>Cursor Foreground Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.withertech.newtermtmprefs</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>backgroundCursorCode</string>
			<key>label</key>
			<string>Cursor Background Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.withertech.newtermtmprefs</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>foregroundBoldCode</string>
			<key>label</key>
			<string>Bold Foreground Color</string>
		</dict>
	</array>
	<key>title</key>
	<string>NewTerm Theme Manager</string>
</dict>
</plist>
